* {
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: #000;
}

button {
    font-family: "Roboto", "Arial", sans-serif;
    border: none;
    background-color: transparent;
    outline: none;
}

a {
    text-decoration: none;
}

body {
    min-width: 1200px;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/*Стили для крупных элементов сетки*/
.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.container_bgr-color_grey {
    background-color: #eee;
}

/*Стили для главного хедера*/
.main-header {
    background-color: #eee;
    width: 100%;
}

.main-header__top {
    display: flex;
    min-height: 115px;
}

.main-header__bottom {
    min-height: 240px;
}

/*Главное навигационное меню*/
.main-nav {
    margin-top: 49px;
    margin-left: 200px;
    width: 500px;
    min-height: 64px;
}

/*Ссылки главного навигационного меню*/
.main-nav__control {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 1.875;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 43px;
    margin-top: 26px;
    vertical-align: middle;
    padding-bottom: 3px;
}

.main-nav__control:hover {
    color: #fb565a;
}

.main-nav__control:active {
    opacity: 0.3;
    color: #000;
}

/*Активный пункт главного навигационного меню.
   Текущая страница сайта*/
.main-nav__control_active {
    box-shadow: 0 2px 0 0 #fc565a;
}

.main-nav__control_active:hover,
.main-nav__control_active:active {
    color: #000;
    opacity: 1;
}

/*Логотип студии*/
.main-logo {
    margin-top: 49px;
    display: inline-block;
    min-height: 65px;
    font-size: 0;
    vertical-align: middle
}

.main-logo:hover {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.3;
}

/*Корзина*/
.cart {
    width: 156px;
    min-height: 64px;
    text-transform: uppercase;
    margin-top: 49px;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 500;
    margin-left: auto;
    position: relative;
}

/*Ссылка корзины*/
.cart__control {
    display: inline-block;
    margin-top: 26px;
    margin-left: 82px;
}


.cart__control::after {
    position: absolute;
    display: block;
    content: "";
    width: 45px;
    height: 20px;
    top: 30px;
    left: 40px;
    background: transparent url("../img/icons/spritesheet.png") -29px -27px no-repeat;
}

.cart__control:hover {
    color: #fb565a;
}

.cart__control:active {
    opacity: 0.3;
    color: #000;
}

/*Слайдер промоблока главной страницы*/
.promo-slider {
    display: block;
    position: relative;
}

.promo-slider__slide {
    min-height: 429px;
}

/*Блок управления слайдером*/
.slider-controls {
    display: flex;
    justify-content: space-between;
    width: 88px;
    height: 18px;
    position: absolute;
    left: 536px;
    bottom: 96px;
}

.slider-controls__control {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls__control::after {
    display: none;
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-controls__radio[id="slide-1"]:checked ~ .slider-controls .slider-controls__control[for="slide-1"]::after,
.slider-controls__radio[id="slide-2"]:checked ~ .slider-controls .slider-controls__control[for="slide-2"]::after,
.slider-controls__radio[id="slide-3"]:checked ~ .slider-controls .slider-controls__control[for="slide-3"]::after {
    display: block;
}

.slider-controls__radio[id="slide-1"]:checked ~ .promo-slider__slide_number_1,
.slider-controls__radio[id="slide-2"]:checked ~ .promo-slider__slide_number_2,
.slider-controls__radio[id="slide-3"]:checked ~ .promo-slider__slide_number_3 {
    display: block;
}

.slider-controls__radio {
    display: none;
}

/*Заголовок слайдера*/
.promo-slider__heading {
    font-size: 55px;
    line-height: 1;
    font-weight: 500;
    width: 520px;
    padding-top: 77px;
}

/*Абзац текста в промослайдере*/
.promo-slider__paragraph {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    width: 420px;
    padding-top: 10px;
    color: #283136;
}

.promo-slider__paragraph span {
    display: block;
}

.promo-slider__slide_number_1 {
    background: #eee url("../img/backgrounds/slide1.png") 431px bottom no-repeat;
    display: none;
}

.promo-slider__slide_number_2 {
    background: #eee url("../img/backgrounds/slide2.png") 496px 0 no-repeat;
    display: none;
}
.promo-slider__slide_number_3 {
    background: #eee url("../img/backgrounds/slide3.png") bottom right no-repeat;
    display: none;
}

/*Блок преимуществ на главной странице*/
.advantages {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 80px;
    flex-wrap: wrap;
    box-shadow: 0 2px 0 0 #eeeeee;
}

.advantages__item {
    width: 300px;
    min-height: 350px;
    margin-right: 100px;
}

.advantages__item:last-of-type {
    margin-right: 0;
    margin-bottom: 77px;
}

.advantages__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;
    padding-top: 21px;
}

.advantages__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 250px;
    color: #283136;
}

/*Блок информации о студии на главной странице*/
.about-studio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 42px;
    padding-bottom: 58px;
    position: relative;
    box-shadow: 0 2px 0 0 #eee;
}

.about-studio__our-mission {
    width: 660px;
}

.about-studio__main-heading {
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    padding-top: 34px;
}

.about-studio__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 17px;
    color: #283136;
}

.about-studio__list-heading {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 23px;
}

.about-studio__list {
    list-style: none;
    padding-top: 9px;
    padding-left: 0;
}

.about-studio__list-item {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #283136;
    margin-top: 23px;
    position: relative;
    padding-left: 36px;
}

.about-studio__list-item::before {
    display: block;
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    left: 0;
    top: 10px;
}

.about-studio__list-item:first-of-type {
    margin-top: 0;
}

.about-studio__stats {
    width: 360px;
}

.about-studio__table {
    margin-top: 33px;
}

.about-studio__table-caption {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.about-studio__performance-percentage {
    font-size: 45px;
    font-weight: 700;
    line-height: 0.222;
    padding-top: 55px;
    width: 120px;
}

.about-studio__percent-sign {
    font-size: 60%;
}

.about-studio__performance-type {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.125;
    color: #283136;
    padding-top: 35px;
}

/*Блок "Наши партнёры на главной странице"*/
.our-partners {
    position: relative;
    margin-top: 47px;
    padding-bottom: 44px;
    box-shadow: 0 2px 0 0 #eee;
}

.our-partners__partner-link {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    position: relative;
}

.our-partners__partner-logo {
    opacity: 0.2;
}

.our-partners__partner-logo:hover {
    opacity: 1;
}

.our-partners__partner-logo:active {
    opacity: 0.1;
}

.our-partners__partner-link_number_1 {
    margin-top: 17px;
    margin-left: 31px;
}

.our-partners__partner-link_number_2 {
    margin-left: 94px;
}

.our-partners__partner-link_number_3 {
    margin-top: 20px;
    margin-left: 98px;
}

.our-partners__partner-link_number_4 {
    margin-top: 7px;
    margin-left: 117px;
}

/*Декоративные полоски между ссылками в блоке "Наши партнёры"*/
.our-partners__partner-link::after {
    display: block;
    position: absolute;
    content: "";
    width: 2px;
    height: 52px;
    background-color: #efefef;
}

.our-partners__partner-link_number_1::after {
    top: 3px;
    right: -51px;
}

.our-partners__partner-link_number_2::after {
    top: 16px;
    right: -46px;
}

.our-partners__partner-link_number_3::after {
    top: 1px;
    right: -58px;
}

.our-partners__partner-link_number_4::after {
    width: 0;
    height: 0;
}

/*Блок карты*/
.map {
    min-height: 416px;
    width: 100%;
    background: #eae6dd url("../img/map/map-bgr.jpg") center no-repeat;
}

.map_page-name_index {
    margin-top: 82px;
}

.map_page-name_catalog {
    margin-top: 59px;
}

.contacts {
    position: relative;
}

.contacts__wrapper {
    position: absolute;
    width: 319px;
    min-height: 308px;
    top: 54px;
    left: 20px;
    z-index: 10;
    background-color: #fff;
}

.contacts__heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.667;
    text-transform: uppercase;
    padding-left: 50px;
    padding-top: 49px;
}

.contacts__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.125;
    color: #666666;
    padding-left: 51px;
    width: 260px;
}

.contacts__paragraph_address {
    padding-top: 7px;
}

.contacts__paragraph_tel {
    padding-top: 2px;
}

/*Страница каталога*/
.catalog__main-heading {
    font-weight: 500;
    font-size: 55px;
    line-height: 1;
    padding-top: 77px;
    text-align: center;
}

.catalog {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.catalog__left-column {
    width: 260px;
}

.catalog__right-column {
    width: 760px;
}

/*Фильтр продуктов* в каталоге*/
.filter__heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.667;
    text-transform: uppercase;
}

/*Слайдер*/
.range-slider {
    margin-top: 48px;
}

.range-slider__field {
    width: 260px;
    height: 80px;
    background-color: #eee;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.range-slider__track {
    width: 219px;
    height: 2px;
    position: absolute;
    left: 20px;
    background-color: #d7dcde;
    display: block;
}

.range-slider__fill {
    display: block;
    width: 150px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00cb75;
}

.range-slider__handle {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0;
    top: -9px;
    background-color: #fff;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 2px 0 0 #cdcdcd;
}

.range-slider__handle::after {
    display: block;
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 8px;
    left: 8px;
    z-index: 20;
    background-color: #acacac;
}

.range-slider__handle_min {
    left: 0;
}

.range-slider__handle_max {
    left: 64%;
}

.range-slider__price-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.range-slider__price-field {
    width: 80px;
    height: 38px;
    background-color: #eee;
    outline: none;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding-left: 12px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #283136;
}

.range-slider__price-field:hover {
    border-color: #b4b9bb;
    color: #444444;
}

.range-slider__price-field:focus {
    border-color: #000;
    color: #444444;
}

.range-slider__field-label {
    font-size: 16px;
    line-height: 1.375;
    font-weight: 400;
    text-transform: uppercase;
    color: #283136;
}

.range-slider__price-field:first-of-type {
    margin-right: 19px;
}

/*Выбор сетки для макета в каталоге*/
.filter__layout-select {
    margin-top: 54px;
}

.filter__layouts-set {
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    padding-left: 36px;
    padding-top: 5px;
}

.radiobutton-label {
    position: relative;
    display: block;
    cursor: pointer;
}

.radiobutton-label:hover {
    opacity: 1;
}

.radiobutton-label:disabled {
    opacity: 0.1;
}

.filter__radiobutton-label {
    margin-bottom: 20px;
    color: #283136;
    line-height: 1.25;
    font-weight: 400;
}

.radiobutton-label::before {
    display: block;
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border: 3px solid #4c4c4c;
    border-radius: 50%;
    opacity: 0.4;
    left: -34px;
    top: -2px;
}

.radiobutton-label::after {
    display: none;
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #4c4c4c;
    opacity: 0.4;
}

.radiobutton-label:hover::before,
.radiobutton[id*="adaptive"]:checked ~ .filter__radiobutton-label[for*="adaptive"]:hover::after,
.radiobutton[id*="fixed"]:checked ~ .filter__radiobutton-label[for*="fixed"]:hover::after,
.radiobutton[id*="fluid"]:checked ~ .filter__radiobutton-label[for*="fluid"]:hover::after {
    opacity: 1;
}

.radiobutton[id*="adaptive"]:checked ~ .filter__radiobutton-label[for*="adaptive"]::after,
.radiobutton[id*="fixed"]:checked ~ .filter__radiobutton-label[for*="fixed"]::after,
.radiobutton[id*="fluid"]:checked ~ .filter__radiobutton-label[for*="fluid"]::after {
    display: block;
    left: -26px;
    top: 6px;
}

.radiobutton {
    display: none;
}

/*Выбор особенностей макета в каталоге*/
.filter__features-select {
    margin-top: 25px;
}

.filter__features-set {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-left: 36px;
}

.checkbox {
    display: none;
}

.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
}

.checkbox-label::after {
    position: absolute;
    display: block;
    content: "";
    width: 27px;
    height: 23px;
    left: -36px;
    top: -2px;
    background: transparent url("../img/icons/spritesheet.png") -104px -30px no-repeat;
    opacity: 0.4;
}

.checkbox-label:hover::after {
    opacity: 1;
}

.checkbox-label:disabled::after {
    opacity: 0.1;
}

.filter__checkbox-label {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: #283136;
    margin-bottom: 20px;
}

.checkbox[id*="slider"]:checked ~ .checkbox-label[for*="slider"]::after,
.checkbox[id*="advantages"]:checked ~ .checkbox-label[for*="advantages"]::after,
.checkbox[id*="news"]:checked ~ .checkbox-label[for*="news"]::after,
.checkbox[id*="gallery"]:checked ~ .checkbox-label[for*="gallery"]::after,
.checkbox[id*="cart"]:checked ~ .checkbox-label[for*="cart"]::after {
    background: transparent url("../img/icons/spritesheet.png") -187px -30px no-repeat;
}

/*Сортировка макетов на витрине каталога*/
.sort-view {
    display: flex;
}

.sort-view__heading {
    line-height: 1.4;
}

.sort-view__categories-set {
    display: flex;
    list-style: none;
    margin-top: 5px;
    margin-left: 240px;
    padding: 0;
}

.sort-view__category {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.285;
    text-transform: uppercase;
    padding: 0;
    margin-left: 26px;
    opacity: 0.3;
}

.sort-view__category:hover {
    opacity: 0.6;
}

.sort-view__category:active {
    opacity: 1;
}

.sort-view__category_active {
    opacity: 1;
}

.sort-view__directions-set {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 9px;
    margin-left: 29px;
}

.sort-view__direction {
    font-size: 0;
    display: block;
    width: 9px;
    height: 9px;
    margin-left: 20px;
    opacity: 0.2;
}

.sort-view__direction:hover {
    opacity: 0.4;
}

.sort-view__direction:active {
    opacity: 1;
}

.sort-view__direction_active {
    opacity: 1;
}

.sort-view__direction_up {
    background: transparent url("../img/icons/spritesheet.png") -202px -65px no-repeat;

}

.sort-view__direction_down {
    background: transparent url("../img/icons/spritesheet.png") -189px -65px no-repeat;

}

/*Витрина макетов в каталоге*/
.showcase {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.design-template__header {
    width: 360px;
    height: 40px;
    opacity: 0.12;
    background: #4c4c4c url("../img/backgrounds/showcase-header.png") no-repeat;
}

.design-template:hover .design-template__header {
    opacity: 1;
}

.design-template {
    height: 616px;
    margin-bottom: 36px;
    position: relative;
}

.design-template:nth-child(3),
.design-template:nth-child(4) {
    margin-bottom: 30px;
}

.design-template:hover {
    box-shadow: #e1e1e1 0 3px 10px 3px;
}

.order-popup {
    position: absolute;
    background-color: #eee;
    text-align: center;
    display: none;
}

.design-template__order-popup {
    width: 100%;
    min-height: 231px;
    bottom: 0;
    left: 0;
}

.design-template:hover .design-template__order-popup {
    display: block;
}

.order-popup__heading {
    font-size: 18px;
    line-height: 1.667;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 27px;
    padding-right: 2px;
}

.order-popup__paragraph {
    font-size: 16px;
    line-height: 1.125;
    font-weight: 400;
    color: #666666;
    padding: 0 30px;
    margin-left: 2px;
    margin-top: 15px;
}

.order-popup__paragraph span {
    display: block;
    color: inherit;
}

/*Футер*/
.social {
    display: flex;
    justify-content: space-between;
    min-height: 217px;
}

.social__links {
    margin-top: 69px;
}

.social__link {
    font-size: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    vertical-align: top;
}

.social__icon {
    font-size: 0;
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: #e1e1e1 url("../img/icons/spritesheet.png") no-repeat;
}

.social__icon:hover {
    background-color: #e74246;
}

.social__icon:active {
    background-color: #d7373b;
}

.social__icon_vk {
    background-position: -554px 2px;
}

.social__icon_vk:active {
    background-position: -640px 2px;
}

.social__icon_facebook {
    background-position: -242px -2px;
}

.social__icon_facebook:active {
    background-position: -314px -2px;
}

.social__icon_instagram {
    background-position: -390px -1px;
}

.social__icon_instagram:active {
    background-position: -471px -1px;
}

.social__text {
    margin-right: 218px;
    margin-top: 75px;
}

.social__heading {
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
}

.social__paragraph {
    font-size: 16px;
    line-height: 1.375;
    font-weight: 400;
    color: #444;
    margin-top: 11px;
}

/*Пагинация*/
.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
}

/*Стили для кнопок*/
.btn {
    font-size: 16px;
    line-height: 1.125;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 1.09em 0 0.91em;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.btn_bg-color_red {
    background-color: #fb565a;
}

.btn_bg-color_red:hover {
    background-color: #e74246;
}

.btn_bg-color_red:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.btn_bg-color_green {
    background-color: #00cb75;
}

.btn_bg-color_green:hover {
    background-color: #00bc6c;
}

.btn_bg-color_green:active {
    background-color: #00aa62;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.btn_bg-color_yellow {
    background-color: #f0c948;
}

.btn_bg-color_yellow:hover {
    background-color: #eab534;
}

.btn_bg-color_yellow:active {
    background-color: #e5a722;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.btn_bg-color_grey {
    background-color: #eee;
}

.btn_text-color_white {
    color: #fff;
}

.btn_text-color_white:active {
    color: rgba(255, 255, 255, 0.3);
}

.promo-slider__btn {
    width: 240px;
    margin-top: 23px;
}

.advantages__btn {
    width: 160px;
    margin-top: 16px;
}

.filter__btn {
    width: 260px;
    margin-top: 29px;
}

.order-popup__btn {
    width: 200px;
    margin-top: 14px;
}

.contacts__btn {
    width: 219px;
    margin-top: 21px;
    margin-left: 50px;
}

.write-us__btn {
    width: 260px;
    margin-top: 43px;
}

.closing-btn {
    display: block;
    position: absolute;
    opacity: 0.3;
    cursor: pointer;
}

.write-us__closing-btn {
    width: 21px;
    height: 21px;
    top: 78px;
    right: 90px;
}

.closing-btn:hover {
    opacity: 1;
}

.closing-btn:active {
    opacity: 0.1;
}

.closing-btn::before,
.closing-btn::after {
    position: absolute;
    display: block;
    content: "";
    width: 124%;
    height: 19%;
    background-color: #fb565a;
    left: 15%;
}

.closing-btn::before {
    top: 0;
    transform-origin: 0 0;
    transform: rotate(45deg);
}

.closing-btn::after {
    bottom: 0;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
}

.pagination__btn {
    width: 50px;
    margin-right: 11px;
}

.filter__btn:hover,
.pagination__btn:hover {
    background-color: #e0e0e0;
}

.filter__btn:active,
.pagination__btn:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination__btn_active,
.pagination__btn_active:hover,
.pagination__btn_active:active {
    background-color: #fff;
    border: 3px solid #dcdcdc;
    padding-top: calc(1.09em - 3px);
    padding-bottom: calc(0.91em - 3px);
    color: rgba(0, 0, 0, 1);
    cursor: default;
}

.pagination__btn_size_large {
    width: 260px;
}

/*Стили для модальных окон*/
.modal {
    position: fixed;
    z-index: 30;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.write-us {
    display: none;
}

.modal__inner {
    position: fixed;
    background-color: #fff;
    z-index: 40;
    left: 50%;
    transform: translateX(-50%);
}

.write-us__inner {
    width: 960px;
    height: 590px;
    padding: 0 100px;
    outline: 1px solid saddlebrown;
    bottom: 180px;
}

.write-us__heading {
    margin-top: 68px;
    font-weight: 500;
    font-size: 45px;
    line-height: 1;
}

.write-us__form {
    width: 760px;
    margin-top: 42px;
}

.write-us__field-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.write-us__field {
    display: inline-block;
}

.write-us__field_width_full {
    width: 100%;
}

.write-us__field_width_half {
    width: calc(50% - 20px);
}

.write-us__label {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 0.9;
    font-weight: 700;
}

.write-us__input {
    margin-top: 11px;
    width: 360px;
    height: 50px;
    border: 2px solid #d8dddf;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.125;
    font-weight: 400;
    color: #444444;
    font-family: inherit;
    opacity: 0.5;
    padding-left: 13px;
}

.write-us__input:focus,
.write-us__textarea:focus {
    opacity: 1;
    color: #000;
    outline: none;
    border-color: #000;
}

.write-us__input:invalid {
    border-color: #e84045;
    color: #e84045;
}

.write-us__textarea {
    width: 100%;
    height: 118px;
    border: 2px solid #d8dddf;
    border-radius: 3px;
    margin-top: 11px;
    line-height: 1.125;
    font-weight: 400;
    color: #444444;
    font-family: inherit;
    opacity: 0.5;
    padding-left: 13px;
    padding-top: 11px;
}
