* {
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: #000;
}

a {
    text-decoration: none;
}

body {
    min-width: 1200px;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/*Стили для крупных элементов сетки*/
.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.catalog {
    display: flex;
    justify-content: space-between;
    min-height: 2217px;
}

.container_bgr-color_grey {
    background-color: #eee;
}

.catalog__left-column {
    width: 260px;
    outline: 3px solid blue;
}

.catalog__right-column {
    width: 760px;
    outline: 3px solid blue;
}

.sort-view {
    display: flex;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
}

.buy-item {
    display: none;
}

.modal,
.hidden {
    display: none;
}

/*Стили для главного хедера*/
.main-header {
    background-color: #eee;
    width: 100%;
}

.main-header__top {
    display: flex;
    min-height: 115px;
}

.main-header__bottom {
    min-height: 240px;
}

/*Главное навигационное меню*/
.main-nav {
    margin-top: 49px;
    margin-left: 200px;
    width: 500px;
    min-height: 64px;
}

/*Ссылки главного навигационного меню*/
.main-nav__control {
    display: inline-block;
    font-size: 16px;
    line-height: 1.875;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 43px;
    margin-top: 26px;
    vertical-align: middle;
    padding-bottom: 3px;
}

.main-nav__control:hover {
    color: #fb565a;
}

.main-nav__control:active {
    opacity: 0.3;
    color: #000;
}

.active {
    border-bottom: 2px solid #fb565a;
}

.active:hover,
.active:active {
    color: #000;
    opacity: 1;
}

/*Логотип студии*/
.main-logo {
    margin-top: 49px;
    display: inline-block;
    min-height: 65px;
    font-size: 0;
    vertical-align: middle
}

.main-logo:hover {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.3;
}

/*Корзина*/
.cart {
    width: 156px;
    min-height: 64px;
    text-transform: uppercase;
    margin-top: 49px;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 500;
    margin-left: auto;
    position: relative;
}

.cart__control::after {
    position: absolute;
    display: block;
    content: "";
    width: 45px;
    height: 20px;
    top: 30px;
    left: 40px;
    background: transparent url("../img/icons/spritesheet.png") -29px -27px no-repeat;
}

/*Ссылка корзины*/
.cart__control {
    display: inline-block;
    margin-top: 26px;
    margin-left: 82px;
}

.cart__control:hover {
    color: #fb565a;
}

.cart__control:active {
    opacity: 0.3;
    color: #000;
}

/*Слайдер промоблока главной страницы*/
.promo-slider {
    min-height: 430px;
}

.promo-slider__slide {
    min-height: 429px;
}

/*Заголовок слайдера*/
.promo-slider__heading {
    font-size: 55px;
    line-height: 1;
    font-weight: 500;
    width: 520px;
    padding-top: 77px;
}

/*Абзац текста в промослайдере*/
.promo-slider__paragraph {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    width: 420px;
    padding-top: 10px;
    color: #283136;
}

.promo-slider__slide_number_1 {
    background: #eee url("../img/backgrounds/slide1.png") 431px bottom no-repeat;
}

.promo-slider__slide_number_2 {
    background: #eee url("../img/backgrounds/slide2.png") 496px 0 no-repeat;
}
.promo-slider__slide_number_3 {
    background: #eee url("../img/backgrounds/slide3.png") bottom right no-repeat;
}

/*Блок преимуществ на главной странице*/
.advantages {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 80px;
    flex-wrap: wrap;
    min-height: 429px;
}

.advantages__item {
    width: 300px;
    min-height: 350px;
    margin-right: 100px;
}

.advantages__item:last-of-type {
    margin-right: 0;
}

.advantages__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;
    padding-top: 21px;
}

.advantages__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 250px;
    color: #283136;
}

/*Блок информации о студии на главной странице*/
.about-studio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 487px;
    margin-top: 40px;
    position: relative;
}

.about-studio__our-mission {
    width: 660px;
}

.about-studio__main-heading {
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    padding-top: 34px;
}

.about-studio__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 17px;
    color: #283136;
}

.about-studio__list-heading {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 23px;
}

.about-studio__list {
    list-style: none;
    padding-top: 9px;
    padding-left: 0;
}

.about-studio__list-item {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #283136;
    margin-top: 23px;
    position: relative;
    padding-left: 36px;
}

.about-studio__list-item::before {
    display: block;
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    left: 0;
    top: 10px;
}

.about-studio__list-item:first-of-type {
    margin-top: 0;
}

.about-studio__stats {
    width: 360px;
}

.about-studio__table {
    margin-top: 33px;
}

.about-studio__table-caption {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.about-studio__performance-percentage {
    font-size: 45px;
    font-weight: 700;
    line-height: 0.222;
    padding-top: 55px;
    width: 120px;
}

.about-studio__percent-sign {
    font-size: 60%;
}

.about-studio__performance-type {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.125;
    color: #283136;
    padding-top: 35px;
}

/*Блок "Наши партнёры на главной странице"*/
.our-partners {
    position: relative;
    min-height: 137px;
    margin-top: 45px;
}

.our-partners__partner-link {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    position: relative;
}

.our-partners__partner-logo {
    opacity: 0.2;
}

.our-partners__partner-logo:hover {
    opacity: 1;
}

.our-partners__partner-logo:active {
    opacity: 0.1;
}

.our-partners__partner-link_number_1 {
    margin-top: 17px;
    margin-left: 31px;
}

.our-partners__partner-link_number_2 {
    margin-left: 94px;
}

.our-partners__partner-link_number_3 {
    margin-top: 20px;
    margin-left: 98px;
}

.our-partners__partner-link_number_4 {
    margin-top: 7px;
    margin-left: 117px;
}

/*Декоративные полоски между ссылками в блоке "Наши партнёры"*/
.our-partners__partner-link::after {
    display: block;
    position: absolute;
    content: "";
    width: 2px;
    height: 52px;
    background-color: #efefef;
}

.our-partners__partner-link_number_1::after {
    top: 3px;
    right: -51px;
}

.our-partners__partner-link_number_2::after {
    top: 16px;
    right: -46px;
}

.our-partners__partner-link_number_3::after {
    top: 1px;
    right: -58px;
}

.our-partners__partner-link_number_4::after {
    width: 0;
    height: 0;
}

/*Блок карты*/
.map {
    min-height: 416px;
    width: 100%;
    outline: 2px solid green;
    background: #eae6dd url("../img/map/map-bgr.jpg") center no-repeat;
}

.map_page-name_index {
    margin-top: 80px;
}

.contacts {
    position: relative;
}

.contacts__wrapper {
    position: absolute;
    width: 319px;
    min-height: 308px;
    top: 54px;
    left: 20px;
    z-index: 10;
    background-color: #fff;
}

.contacts__heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.667;
    text-transform: uppercase;
    padding-left: 50px;
    padding-top: 49px;
}

.contacts__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.125;
    color: #666666;
    padding-left: 51px;
    width: 260px;
}

.contacts__paragraph_address {
    padding-top: 7px;
}

.contacts__paragraph_tel {
    padding-top: 2px;
}

/*Страница каталога*/
.catalog__main-heading {
    font-weight: 500;
    font-size: 55px;
    line-height: 1;
    padding-top: 77px;
    text-align: center;
}

/*Футер*/
.social {
    display: flex;
    justify-content: space-between;
    min-height: 217px;
}

.social__links {
    margin-top: 69px;
}

.social__link {
    font-size: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    vertical-align: top;
}

.social__icon {
    font-size: 0;
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: #e1e1e1 url("../img/icons/spritesheet.png") no-repeat;
}

.social__icon:hover {
    background-color: #e74246;
}

.social__icon:active {
    background-color: #d7373b;
}

.social__icon_vk {
    background-position: -554px 2px;
}

.social__icon_vk:active {
    background-position: -640px 2px;
}

.social__icon_facebook {
    background-position: -242px -2px;
}

.social__icon_facebook:active {
    background-position: -314px -2px;
}

.social__icon_instagram {
    background-position: -390px -1px;
}

.social__icon_instagram:active {
    background-position: -471px -1px;
}

.social__text {
    margin-right: 218px;
    margin-top: 75px;
}

.social__heading {
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
}

.social__paragraph {
    font-size: 16px;
    line-height: 1.375;
    font-weight: 400;
    color: #444;
    margin-top: 11px;
}

/*Декоративная полоска после блоков на главной странице*/
.advantages::after,
.about-studio::after,
.our-partners::after {
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #eee;
}
