* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/*Стили для крупных элементов сетки*/
.container {
    width: 100%;
}

.main-header,
.main-content,
.main-footer {
    width: 1200px;
    margin: 0 auto;
    padding: 1px 20px;
    outline: 1px solid red;
}

.main-content_page-name_index {
    margin-bottom: 80px;
}

.main-content_page-name_catalog {
    display: flex;
    justify-content: space-between;
    min-height: 2217px;
}

.main-header__top {
    display: flex;
    min-height: 132px;
    outline: 2px solid green;
}

.promo-slider {
    min-height: 413px;
    outline: 2px solid green;
}

.advantages {
    min-height: 509px;
    outline: 2px solid green;
}

.about-studio {
    display: flex;
    min-height: 527px;
    outline: 2px solid green;
}

.our-partners {
    min-height: 182px;
    outline: 2px solid green;
}

.map {
    min-height: 416px;
    width: 100%;
    outline: 2px solid green;
}

.social {
    min-height: 217px;
    outline: 2px solid green;
}

.main-header__bottom {
    padding: 5px;
    min-height: 223px;
    outline: 2px solid green;
}

.main-content__left-column {
    width: 260px;
    outline: 3px solid blue;
}

.main-content__right-column {
    width: 760px;
    outline: 3px solid blue;
}

.sort-view {
    display: flex;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
}

.buy-item {
    display: none;
}

.modal,
.hidden {
    display: none;
}
